<p id="notice"><%= notice %></p>
<p>
<%= form_tag '/examples', method: :get do %>
  <%= label_tag(:name, "Name:") %>
  <%= text_field_tag :name, params[:name] %>
  <%= label_tag(:cat, "Category:") %>
  <%# text_field_tag :cat, params[:cat] %>
  <%# select_tag :cat, [
    ['webgl','webgl'],['canvas','canvas'],['misc','misc'], ['webvr','webvr']
  ] %>
  <%= select_tag "category", options_for_select([ "any", "webgl","canvas", "misc", "webvr" ], "any") %>
  <p>
  <%= submit_tag 'Search', name: nil %>
<% end %>
<p>

<h1>Examples</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @examples.each do |example| %>
      <tr>
        <td><%= example.name %></td>
        <td><%= example.category %></td>
        <td><%= link_to 'Show', example %></td>
        <td><%= link_to 'Edit', edit_example_path(example) %></td>
        <td><%= link_to 'Destroy', example, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Example', new_example_path %>
