<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @example.name %>
</p>

<p>
  <strong>category:</strong>
  <%= @example.category %>
</p>

<p>
  <strong>keyword_1:</strong>
  <%= @example.keyword_1 %>
</p>

<p>
  <strong>keyword_2:</strong>
  <%= @example.keyword_2 %>
</p>

<p>
  <strong>lifted:</strong>
  <%= @example.lifted %>
</p>

<p>
  <strong>lifted_at:</strong>
  <%= @example.lifted_at %>
</p>

<p>
  <strong>created_at:</strong>
  <%= @example.created_at %>
</p>

<p>
  <strong>updated_at:</strong>
  <%= @example.updated_at %>
</p>
<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
