<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @example.name %>
</p>

<p>
  <strong>category:</strong>
  <%= @example.category %>
</p>

<p>
  <strong>keyword_1:</strong>
  <%= @example.keyword_1 %>
</p>

<p>
  <strong>keyword_2:</strong>
  <%= @example.keyword_2 %>
</p>

<p>
  <strong>lift_code:</strong>
  <%= @example.lift_code %>
</p>

<p>
  <strong>created_at:</strong>
  <%= @example.created_at %>
</p>

<p>
  <strong>updated_at:</strong>
  <%= @example.updated_at %>
</p>
<p>

  <strong>Id:</strong>
  <%= @example.id %>
</p>

</p>
  <strong>Tags:</strong>
  <% @example.tags.each do |tag| %>
    <%= tag.tag %>
  <% end %>
</p>

<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
